<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="suite-name" verbose="1">

  <listeners>
    <listener class-name="base.CustomListener" />
  </listeners>
  
  <!-- Declaration of the test with preserve-order to execute the methods in the indicated order -->
  <test name="test-name" preserve-order="true">
  
    <!-- Mandatory declaration of the groups used -->
    <groups>
      <run>
        <include name="group1" />
        <include name="group2" />
      </run>
    </groups>
    
    <!-- Declaration and scheduling of tests to be performed -->
    <classes>
      <class name="tests.FirstClassTest">
        <methods>
          <include name="testOne" />
          <include name="testTwo" />
        </methods>
      </class>
      <class name="tests.SecondClassTest">
        <methods>
          <include name="testOne" />
          <include name="testTwo" />
          <include name="testThree" />
        </methods>
      </class>
    </classes>
  </test>
</suite>
